In [12]:
mylist=[x for x in range(0,100) if x%2 == 0]

In [13]:
mylist

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98]

In [16]:
#Square of even no. in the range between 0 to 100

mylist = [z**2 for z in range(0,100) if z%2 == 0]
print(mylist)

[0, 4, 16, 36, 64, 100, 144, 196, 256, 324, 400, 484, 576, 676, 784, 900, 1024, 1156, 1296, 1444, 1600, 1764, 1936, 2116, 2304, 2500, 2704, 2916, 3136, 3364, 3600, 3844, 4096, 4356, 4624, 4900, 5184, 5476, 5776, 6084, 6400, 6724, 7056, 7396, 7744, 8100, 8464, 8836, 9216, 9604]

In [19]:
mylist = [z for z in range(0,11) if z%2 !=0]
print(mylist)

[1, 3, 5, 7, 9]

In [20]:
#Cube of odd no in the range between 0 to 100 : 

mylist = [z**3 for z in range(0,100) if z%2 != 0 ]
print(mylist)

[1, 27, 125, 343, 729, 1331, 2197, 3375, 4913, 6859, 9261, 12167, 15625, 19683, 24389, 29791, 35937, 42875, 50653, 59319, 68921, 79507, 91125, 103823, 117649, 132651, 148877, 166375, 185193, 205379, 226981, 250047, 274625, 300763, 328509, 357911, 389017, 421875, 456533, 493039, 531441, 571787, 614125, 658503, 704969, 753571, 804357, 857375, 912673, 970299]

In [29]:
#celcius to fahrenheit converter

celcius = [0,10,20,34.5]
mylist = [((9/5)*temp + 32) for temp in celcius]
print(mylist)

[32.0, 50.0, 68.0, 94.1]